body{
  background-color: #e3ffeb;
}

.container {
    max-width: 1536px;
  }
div.card-header{
  background-color: #97D49B;
}
.myTable {
  width: 100%;
  padding: 25px;
  color: black;
  background-color: white;
  font-size: 25px;
  box-sizing: border-box;
}
.myTableHead {
  width: 100%;
  padding: 25px;
  background-color: #97D49B;
  color: white;
  font-size: 25px;
  box-sizing: border-box;
}
img.bi{
  width: 30px;
  height: 30px;
}
  
  