body{
  background-color: #e3ffeb;
}
.container {
    max-width: 1280px;
}
div.card-header{
  background-color: #97D49B;
}
.myTable {
  width: 100%;
  padding: 25px;
  text-align: left;
}
.myTableHead {
  width: 100%;
  padding: 25px;
  background-color: #97D49B;
  color: black;
  box-sizing: border-box;
}
img.bi{
  width: 30px;
  height: 30px;
}
ul.dropdown-menu{
  width: auto;
  height: auto;
}
#mainBox{
  max-width: 900px;
  width: 60%;
}
#division{
  max-width: 1280px;
}
#mycard{
  max-width: 1280px;
  margin: auto;
  width: 70%;
}
.mycell{
  width: 20vw;
  word-break: break-all;
}